@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

:root {
  --blue: #0b0d17;
  --purple: #d0d6f9;
  --white: #ffffff;
  --font1: "Barlow Condensed", sans-serif;
  --font2: "Bellefair", serif;
  --font3: "Barlow", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Barlow Condensed", sans-serif;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
